
body {
    margin: 40px;
    width: 400px;
}
.card {

border: 2px dotted;
padding: 20px;
display: flex;
justify-content: space-around;
text-align: center;
background: linear-gradient(to right,green 10%,skyblue 60%,red) ;
box-shadow: 5px 5px 5px black;
text-shadow:5px 5px 5px white;

}
h3{
    m